---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=34145&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000.0'
      Ratelimit-Remaining:
      - '4994.0'
      X-Zipkin-Id:
      - 9bfa104db384758f
      Ratelimit-Resettime:
      - '2023-04-24T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-987598964-8nz84; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-69-118-useast1aprod
      X-Extlb:
      - 10-65-69-118-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "yQaElwKOFU865x1jxH3KGw", "alias": "xcel-fitness-spa-marco-island",
        "name": "Xcel Fitness Spa", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/ccAjpYauX08M1B23wHFE3Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/xcel-fitness-spa-marco-island?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKscZth2VNGA",
        "review_count": 13, "categories": [{"alias": "gyms", "title": "Gyms"}, {"alias":
        "massage", "title": "Massage"}, {"alias": "healthtrainers", "title": "Trainers"}],
        "rating": 4.0, "coordinates": {"latitude": 25.9341526, "longitude": -81.6989467},
        "transactions": [], "price": "$$$", "location": {"address1": "1817 San Marco
        Rd", "address2": null, "address3": "", "city": "Marco Island", "zip_code":
        "34145", "country": "US", "state": "FL", "display_address": ["1817 San Marco
        Rd", "Marco Island, FL 34145"]}, "phone": "+12393949235", "display_phone":
        "(239) 394-9235", "distance": 2580.2116310113224}, {"id": "HxK5-XEhjl0x0RR9PAgBVQ",
        "alias": "ymca-of-south-collier-marco-ymca-marco-island", "name": "YMCA of
        South Collier-Marco YMCA", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/f3IWcztQgl8-9j1z8BsLdg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/ymca-of-south-collier-marco-ymca-marco-island?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKscZth2VNGA",
 [...]
