---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=99723&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 4fcef5a8317685631dc241f6dafebe49
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4908'
      X-Ctx-Guv:
      - p|awGBNkM_j8pKscZth2VNGA|2ca377d0-7886-48aa-bf6c-f61933c4fab1
      Ratelimit-Resettime:
      - '2025-12-07T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-d6b549d6-d4tzj; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-183-31-useast1bprod
      X-Extlb:
      - 10-65-183-31-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -156.76116943359375,
        "latitude": 71.28570519281563}}}'
  recorded_at: Sat, 06 Dec 2025 00:01:26 GMT
recorded_with: VCR 6.3.1
