---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/HxK5-XEhjl0x0RR9PAgBVQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2025-11-26T00:00:00+00:00'
      X-Zipkin-Id:
      - ac4e19effb12caf387ad90d0905e3d5b
      X-Routing-Service:
      - routing-main--uswest2-674977b97c-k9dj2; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      X-Ctx-Guv:
      - p|awGBNkM_j8pKscZth2VNGA|d5fa2633-1de2-4eb1-99ef-d39a9fb31982
      Ratelimit-Remaining:
      - '4889'
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-156-155-uswest2bprod
      X-Extlb:
      - 10-69-156-155-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "HxK5-XEhjl0x0RR9PAgBVQ", "alias": "ymca-of-south-collier-marco-ymca-marco-island",
        "name": "YMCA of South Collier-Marco YMCA", "image_url": "https://s3-media0.fl.yelpcdn.com/bphoto/loazD31GrXjSORZt2gysNA/o.jpg",
        "is_claimed": true, "is_closed": false, "url": "https://www.yelp.com/biz/ymca-of-south-collier-marco-ymca-marco-island?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=awGBNkM_j8pKscZth2VNGA",
        "phone": "+12393949622", "display_phone": "(239) 394-9622", "review_count":
        16, "categories": [{"alias": "gyms", "title": "Gyms"}, {"alias": "childcare",
        "title": "Child Care & Day Care"}, {"alias": "healthtrainers", "title": "Trainers"}],
        "rating": 3.4, "location": {"address1": "101 Sand Hill St", "address2": "",
        "address3": "", "city": "Marco Island", "zip_code": "34145", "country": "US",
        "state": "FL", "display_address": ["101 Sand Hill St", "Marco Island, FL 34145"],
        "cross_streets": ""}, "coordinates": {"latitude": 25.93536, "longitude": -81.70816},
        "photos": ["https://s3-media0.fl.yelpcdn.com/bphoto/loazD31GrXjSORZt2gysNA/o.jpg",
        "https://s3-media0.fl.yelpcdn.com/bphoto/rg62s4hjjapN4clb20H7vQ/o.jpg", "https://s3-media0.fl.yelpcdn.com/bphoto/huB0ERdPm4pcbp1TbWPyqw/o.jpg"],
        "hours": [{"open": [{"is_overnight": false, "start": "0500", "end": "2100",
        "day": 0}, {"is_overnight": false, "start": "0500", "end": "2100", "day":
        1}, {"is_overnight": false, "start": "0500", "end": "2100", "day": 2}, {"is_overnight":
        false, "start": "0500", "end": "2100", "day": 3}, {"is_overnight": false,
        "start": "0500", "end": "2000", "day": 4}, {"is_overnight": false, "start":
        "0600", "end": "2000", "day": 5}, {"is_overnight": false, "start": "0600",
        "end": "2000", "day": 6}], "hours_type": "REGULAR", "is_open_now": false}],
        "transactions": []}'
  recorded_at: Tue, 25 Nov 2025 09:34:47 GMT
recorded_with: VCR 6.3.1
