---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/HxK5-XEhjl0x0RR9PAgBVQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000.0'
      X-Zipkin-Id:
      - cdb4bc2e31fa72b1
      Ratelimit-Remaining:
      - '4988.0'
      Ratelimit-Resettime:
      - '2023-04-24T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-987598964-lb5pq; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-141-236-useast1bprod
      X-Extlb:
      - 10-65-141-236-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "HxK5-XEhjl0x0RR9PAgBVQ", "alias": "ymca-of-south-collier-marco-ymca-marco-island",
        "name": "YMCA of South Collier-Marco YMCA", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/f3IWcztQgl8-9j1z8BsLdg/o.jpg",
        "is_claimed": true, "is_closed": false, "url": "https://www.yelp.com/biz/ymca-of-south-collier-marco-ymca-marco-island?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=awGBNkM_j8pKscZth2VNGA",
        "phone": "+12393949622", "display_phone": "(239) 394-9622", "review_count":
        13, "categories": [{"alias": "gyms", "title": "Gyms"}, {"alias": "childcare",
        "title": "Child Care & Day Care"}, {"alias": "healthtrainers", "title": "Trainers"}],
        "rating": 3.5, "location": {"address1": "101 Sand Hill St", "address2": "",
        "address3": "", "city": "Marco Island", "zip_code": "34145", "country": "US",
        "state": "FL", "display_address": ["101 Sand Hill St", "Marco Island, FL 34145"],
        "cross_streets": ""}, "coordinates": {"latitude": 25.93536, "longitude": -81.70816},
        "photos": ["https://s3-media4.fl.yelpcdn.com/bphoto/f3IWcztQgl8-9j1z8BsLdg/o.jpg",
        "https://s3-media4.fl.yelpcdn.com/bphoto/FojEQxZSyNSM59MXST8ekw/o.jpg", "https://s3-media1.fl.yelpcdn.com/bphoto/loazD31GrXjSORZt2gysNA/o.jpg"],
        "hours": [{"open": [{"is_overnight": false, "start": "0500", "end": "2100",
        "day": 0}, {"is_overnight": false, "start": "0500", "end": "2100", "day":
        1}, {"is_overnight": false, "start": "0500", "end": "2100", "day": 2}, {"is_overnight":
        false, "start": "0500", "end": "2100", "day": 3}, {"is_overnight": false,
        "start": "0500", "end": "2000", "day": 4}, {"is_overnight": false, "start":
        "0600", "end": "2000", "day": 5}, {"is_overnight": false, "start": "0600",
        "end": "2000", "day": 6}], "hours_type": "REGULAR", "is_open_now": false}],
        "transactions": []}'
  recorded_at: Sun, 23 Apr 2023 01:25:20 GMT
recorded_with: VCR 6.0.0
