---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/tk8UhlNErqTmL65pdkGR1g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 151731033ae15b03556ce00802535a66
      X-Routing-Service:
      - routing-main--useast1-d6b549d6-4tlgm; site=public_api_v3
      X-Ctx-Guv:
      - p|awGBNkM_j8pKscZth2VNGA|68860389-2a5d-4127-a869-90287e0182df
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4906'
      Ratelimit-Resettime:
      - '2025-12-07T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-128-57-useast1bprod
      X-Extlb:
      - 10-65-128-57-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "tk8UhlNErqTmL65pdkGR1g", "alias": "marco-fitness-club-marco-island",
        "name": "Marco Fitness Club", "image_url": "https://s3-media0.fl.yelpcdn.com/bphoto/3lGA7PQyJdwuTLKW7vCw8g/o.jpg",
        "is_claimed": false, "is_closed": false, "url": "https://www.yelp.com/biz/marco-fitness-club-marco-island?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=awGBNkM_j8pKscZth2VNGA",
        "phone": "+12393943705", "display_phone": "(239) 394-3705", "review_count":
        7, "categories": [{"alias": "gyms", "title": "Gyms"}, {"alias": "healthtrainers",
        "title": "Trainers"}], "rating": 4.0, "location": {"address1": "871 E Elkcam
        Cir", "address2": "", "address3": "", "city": "Marco Island", "zip_code":
        "34145", "country": "US", "state": "FL", "display_address": ["871 E Elkcam
        Cir", "Marco Island, FL 34145"], "cross_streets": ""}, "coordinates": {"latitude":
        25.959680557251, "longitude": -81.7245101928711}, "photos": ["https://s3-media0.fl.yelpcdn.com/bphoto/3lGA7PQyJdwuTLKW7vCw8g/o.jpg"],
        "hours": [{"open": [{"is_overnight": false, "start": "0600", "end": "2000",
        "day": 0}, {"is_overnight": false, "start": "0600", "end": "2000", "day":
        1}, {"is_overnight": false, "start": "0600", "end": "2000", "day": 2}, {"is_overnight":
        false, "start": "0600", "end": "2000", "day": 3}, {"is_overnight": false,
        "start": "0600", "end": "2000", "day": 4}, {"is_overnight": false, "start":
        "0800", "end": "1600", "day": 5}, {"is_overnight": false, "start": "0900",
        "end": "1500", "day": 6}], "hours_type": "REGULAR", "is_open_now": true}],
        "transactions": []}'
  recorded_at: Sat, 06 Dec 2025 00:01:27 GMT
recorded_with: VCR 6.3.1
