---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/tk8UhlNErqTmL65pdkGR1g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctx-Guv:
      - p|awGBNkM_j8pKscZth2VNGA|cb2c3848-ff1e-42ca-b98c-6bd29eecdc9f
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4855'
      Ratelimit-Resettime:
      - '2025-11-26T00:00:00+00:00'
      X-Zipkin-Id:
      - 89d81d5547cb7a1373921d5db14372b1
      X-Routing-Service:
      - routing-main--uswest2-674977b97c-6vmtt; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-117-83-uswest2aprod
      X-Extlb:
      - 10-69-117-83-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "tk8UhlNErqTmL65pdkGR1g", "alias": "marco-fitness-club-marco-island",
        "name": "Marco Fitness Club", "image_url": "https://s3-media0.fl.yelpcdn.com/bphoto/3lGA7PQyJdwuTLKW7vCw8g/o.jpg",
        "is_claimed": false, "is_closed": false, "url": "https://www.yelp.com/biz/marco-fitness-club-marco-island?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=awGBNkM_j8pKscZth2VNGA",
        "phone": "+12393943705", "display_phone": "(239) 394-3705", "review_count":
        7, "categories": [{"alias": "gyms", "title": "Gyms"}, {"alias": "healthtrainers",
        "title": "Trainers"}], "rating": 4.0, "location": {"address1": "871 E Elkcam
        Cir", "address2": "", "address3": "", "city": "Marco Island", "zip_code":
        "34145", "country": "US", "state": "FL", "display_address": ["871 E Elkcam
        Cir", "Marco Island, FL 34145"], "cross_streets": ""}, "coordinates": {"latitude":
        25.959680557251, "longitude": -81.7245101928711}, "photos": ["https://s3-media0.fl.yelpcdn.com/bphoto/3lGA7PQyJdwuTLKW7vCw8g/o.jpg"],
        "hours": [{"open": [{"is_overnight": false, "start": "0600", "end": "2000",
        "day": 0}, {"is_overnight": false, "start": "0600", "end": "2000", "day":
        1}, {"is_overnight": false, "start": "0600", "end": "2000", "day": 2}, {"is_overnight":
        false, "start": "0600", "end": "2000", "day": 3}, {"is_overnight": false,
        "start": "0600", "end": "2000", "day": 4}, {"is_overnight": false, "start":
        "0800", "end": "1600", "day": 5}, {"is_overnight": false, "start": "0900",
        "end": "1500", "day": 6}], "hours_type": "REGULAR", "is_open_now": false}],
        "transactions": []}'
  recorded_at: Tue, 25 Nov 2025 09:35:21 GMT
recorded_with: VCR 6.3.1
