---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/gHmS3WIjRRhSWG4OdCQYLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2023-04-24T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-987598964-nc8gq; site=public_api_v3
      X-Zipkin-Id:
      - d1e3c75124e5fcd5
      Ratelimit-Remaining:
      - '4965.0'
      Ratelimit-Dailylimit:
      - '5000.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-69-118-useast1aprod
      X-Extlb:
      - 10-65-69-118-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "gHmS3WIjRRhSWG4OdCQYLA", "alias": "quest-fitness-kennebunk-2",
        "name": "Quest Fitness", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/FJhv4yFveUoNyK5aJaDcqA/o.jpg",
        "is_claimed": true, "is_closed": false, "url": "https://www.yelp.com/biz/quest-fitness-kennebunk-2?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=awGBNkM_j8pKscZth2VNGA",
        "phone": "+12074673800", "display_phone": "(207) 467-3800", "review_count":
        5, "categories": [{"alias": "healthtrainers", "title": "Trainers"}, {"alias":
        "taichi", "title": "Tai Chi"}, {"alias": "yoga", "title": "Yoga"}], "rating":
        5.0, "location": {"address1": "2 Livewell Dr", "address2": null, "address3":
        null, "city": "Kennebunk", "zip_code": "04043", "country": "US", "state":
        "ME", "display_address": ["2 Livewell Dr", "Kennebunk, ME 04043"], "cross_streets":
        ""}, "coordinates": {"latitude": 43.39341914518459, "longitude": -70.5282839055221},
        "photos": ["https://s3-media4.fl.yelpcdn.com/bphoto/FJhv4yFveUoNyK5aJaDcqA/o.jpg",
        "https://s3-media1.fl.yelpcdn.com/bphoto/k-1eHyAz3uoOfM1lIcYx-A/o.jpg", "https://s3-media4.fl.yelpcdn.com/bphoto/mZBPXGxNmvq4z6ZkzA36ow/o.jpg"],
        "hours": [{"open": [{"is_overnight": false, "start": "0500", "end": "2030",
        "day": 0}, {"is_overnight": false, "start": "0500", "end": "2030", "day":
        1}, {"is_overnight": false, "start": "0500", "end": "2030", "day": 2}, {"is_overnight":
        false, "start": "0500", "end": "2030", "day": 3}, {"is_overnight": false,
        "start": "0500", "end": "1900", "day": 4}, {"is_overnight": false, "start":
        "0700", "end": "1800", "day": 5}, {"is_overnight": false, "start": "0700",
        "end": "1800", "day": 6}], "hours_type": "REGULAR", "is_open_now": false}],
        "transactions": []}'
  recorded_at: Sun, 23 Apr 2023 01:25:30 GMT
[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/yQaElwKOFU865x1jxH3KGw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-987598964-sx6gh; site=public_api_v3
      X-Zipkin-Id:
      - 98daf31ce408a12b
      Ratelimit-Dailylimit:
      - [...]
[...]
