---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=89405&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-7b96896cd8-nbslw; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4983'
      Ratelimit-Resettime:
      - '2021-09-21T00:00:00+00:00'
      X-Zipkin-Id:
      - 6efbe0092ef713a6
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-138-171-uswest2bprod
      X-Extlb:
      - 10-69-138-171-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -119.432373046875,
        "latitude": 40.4462157989704}}}'
  recorded_at: Mon, 20 Sep 2021 02:05:44 GMT
recorded_with: VCR 6.0.0
