---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=89405&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2021-09-21T00:00:00+00:00'
      X-Zipkin-Id:
      - 50cb285b84f7b8b1
      X-Routing-Service:
      - routing-main--useast1-7bbf457c88-vwmlb; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4988'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-160-255-useast1bprod
      X-Extlb:
      - 10-65-160-255-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -119.432373046875,
        "latitude": 40.4462157989704}}}'
  recorded_at: Mon, 20 Sep 2021 14:05:35 GMT
recorded_with: VCR 6.0.0
