---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=34145&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 06a8fd866f33ade5
      Ratelimit-Dailylimit:
      - '5000'
      X-Routing-Service:
      - routing-main--uswest2-7b96896cd8-mf2bf; site=public_api_v3
      Ratelimit-Resettime:
      - '2021-10-10T00:00:00+00:00'
      Ratelimit-Remaining:
      - '4957'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-173-40-uswest2bprod
      X-Extlb:
      - 10-69-173-40-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "dYewYWV40roEGF9SzAHI5Q", "alias": "ambitions-wellness-and-body-coaching-marco-island",
        "name": "Ambitions Wellness and Body Coaching", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/FOiNcgNgOtrz_54DrhFWzA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/ambitions-wellness-and-body-coaching-marco-island?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKscZth2VNGA",
        "review_count": 1, "categories": [{"alias": "healthtrainers", "title": "Trainers"},
        {"alias": "yoga", "title": "Yoga"}, {"alias": "nutritionists", "title": "Nutritionists"}],
        "rating": 5.0, "coordinates": {"latitude": 25.933615, "longitude": -81.698522},
        "transactions": [], "location": {"address1": "1817 San Marco Rd", "address2":
        null, "address3": "", "city": "Marco Island", "zip_code": "34145", "country":
        "US", "state": "FL", "display_address": ["1817 San Marco Rd", "Marco Island,
        FL 34145"]}, "phone": "+12393949235", "display_phone": "(239) 394-9235", "distance":
        2580.2116310113224}, {"id": "yQaElwKOFU865x1jxH3KGw", "alias": "xcel-fitness-spa-marco-island",
        "name": "Xcel Fitness Spa", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/Rx1MuJegPvksWLbH82DmNg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/xcel-fitness-spa-marco-island?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKscZth2VNGA",
        "review_count": 10, "categories": [{"alias": "gyms", "title": "Gyms"}, {"alias":
        "massage", "title": "Massage"}, {"alias": "healthtrainers", "title": "Trainers"}],
        "rating": 4.0, "coordinates": {"latitude": 25.9341526, "longitude": -81.6989467},
        "transactions": [], "price": "$$$", "location": {"address1": "1817 San Marco
        Rd", "address2": null, "address3": "", "city": "Marco Island", "zip_code":
        "34145", "country": "US", "state": "FL", "display_address": ["1817 San Marco
        Rd", "Marco Island, FL 34145"]}, "phone": "+12393949235", "display_phone":
        "(239) 394-9235", "distance": 2580.2116310113224}, {"id": "HxK5-XEhjl0x0RR9PAgBVQ",
        "alias": "ymca-of-south-collier-marco-ymca-marco-island", "name": "YMCA of
        South Collier-Mar[...]
