---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=34145&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctx-Guv:
      - p|awGBNkM_j8pKscZth2VNGA|66897bc3-39ee-4f48-bf6e-0931ecba28c5
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2025-12-07T00:00:00+00:00'
      Ratelimit-Remaining:
      - '4910'
      X-Zipkin-Id:
      - 5d64fe8e66b071b1074b1257968d28ff
      X-Routing-Service:
      - routing-main--uswest2-6956899454-rr8p6; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-128-57-useast1bprod
      X-Extlb:
      - 10-65-128-57-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "iom7dnoZTHbbGITyO4UzQw", "alias": "island-pilates-studio-marco-island",
        "name": "Island Pilates Studio", "image_url": "", "is_closed": false, "url":
        "https://www.yelp.com/biz/island-pilates-studio-marco-island?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKscZth2VNGA",
        "review_count": 3, "categories": [{"alias": "pilates", "title": "Pilates"}],
        "rating": 5.0, "coordinates": {"latitude": 25.932770284921418, "longitude":
        -81.69979169999999}, "transactions": [], "location": {"address1": "137 S Barfield
        Dr", "address2": "", "address3": null, "city": "Marco Island", "zip_code":
        "34145", "country": "US", "state": "FL", "display_address": ["137 S Barfield
        Dr", "Marco Island, FL 34145"]}, "phone": "+12398775536", "display_phone":
        "(239) 877-5536", "distance": 2495.4331966828795}, {"id": "dYewYWV40roEGF9SzAHI5Q",
        "alias": "ambitions-wellness-and-body-coaching-marco-island", "name": "Ambitions
        Wellness and Body Coaching", "image_url": "https://s3-media0.fl.yelpcdn.com/bphoto/2a529cpHxVW4hMZttvBnwg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/ambitions-wellness-and-body-coaching-marco-island?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKsc[...]
