---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/gHmS3WIjRRhSWG4OdCQYLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4886'
      Ratelimit-Resettime:
      - '2025-11-26T00:00:00+00:00'
      X-Zipkin-Id:
      - 5a666e255929d91523f45d792d4dc392
      X-Routing-Service:
      - routing-main--uswest2-674977b97c-gcdjw; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      X-Ctx-Guv:
      - p|awGBNkM_j8pKscZth2VNGA|37cc3338-76ad-4f6d-b9a6-0ba3607fece7
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-66-215-uswest2aprod
      X-Extlb:
      - 10-69-66-215-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "gHmS3WIjRRhSWG4OdCQYLA", "alias": "quest-fitness-kennebunk-2",
        "name": "Quest Fitness", "image_url": "https://s3-media0.fl.yelpcdn.com/bphoto/JvTUeODPIiawkP1f619MGA/o.jpg",
        "is_claimed": true, "is_closed": false, "url": "https://www.yelp.com/biz/quest-fitness-kennebunk-2?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=awGBNkM_j8pKscZth2VNGA",
        "phone": "+12074673800", "display_phone": "(207) 467-3800", "review_count":
        8, "categories": [{"alias": "healthtrainers", "title": "Trainers"}, {"alias":
        "taichi", "title": "Tai Chi"}, {"alias": "yoga", "title": "Yoga"}], "rating":
        4.6, "location": {"address1": "2 Livewell Dr", "address2": null, "address3":
        null, "city": "Kennebunk", "zip_code": "04043", "country": "US", "state":
        "ME", "display_address": ["2 Livewell Dr", "Kennebunk, ME 04043"], "cross_streets":
        ""}, "coordinates": {"latitude": 43.39341914518459, "longitude": -70.5282839055221},
        "photos": ["https://s3-media0.fl.yelpcdn.com/bphoto/JvTUeODPIiawkP1f619MGA/o.jpg",
        "https://s3-media0.fl.yelpcdn.com/bphoto/mTXI6YgYy1gSdCB-KPJ0Sg/o.jpg", "https://s3-media0.fl.yelpcdn.com/bphoto/iJDHvL4ScRxXCsGMaJHHrg/o.jpg"],
        "hours": [{"open": [{"is_overnight": false, "start": "0500", "end": "2030",
        "day": 0}, {"is_overnight": false, "start": "0500", "end": "2030", "day":
        1}, {"is_overnight": false, "start": "0500", "end": "2030", "day": 2}, {"is_overnight":
        false, "start": "0500", "end": "2030", "day": 3}, {"is_overnight": false,
        "start": "0500", "end": "1900", "day": 4}, {"is_overnight": false, "start":
        "0700", "end": "1800", "day": 5}, {"is_overnight": false, "start": "0700",
        "end": "1800", "day": 6}], "hours_type": "REGULAR", "is_open_now": false}],
        "transactions": []}'
  recorded_at: Tue, 25 Nov 2025 09:34:54 GMT
[...]
