---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=04572&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-7b96896cd8-s26dx; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4954'
      X-Zipkin-Id:
      - f6565149907165c9
      Ratelimit-Resettime:
      - '2021-10-10T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-126-17-uswest2aprod
      X-Extlb:
      - 10-69-126-17-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "RI8Gd94NEgZMuPJLCCXc5A", "alias": "ocean-blue-fitness-damariscotta",
        "name": "Ocean Blue Fitness", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/Dpp_3Mn5OLs7IsOI5SqARg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/ocean-blue-fitness-damariscotta?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKscZth2VNGA",
        "review_count": 1, "categories": [{"alias": "pilates", "title": "Pilates"},
        {"alias": "healthtrainers", "title": "Trainers"}], "rating": 5.0, "coordinates":
        {"latitude": 44.03321, "longitude": -69.51981}, "transactions": [], "location":
        {"address1": "64 Chapman St", "address2": "", "address3": null, "city": "Damariscotta",
        "zip_code": "04543", "country": "US", "state": "ME", "display_address": ["64
        Chapman St", "Damariscotta, ME 04543"]}, "phone": "+12075632668", "display_phone":
        "(207) 563-2668", "distance": 14789.019101331081}, {"id": "QvfAnmU7rbqCkWZcBlPulw",
        "alias": "midcoast-yoga-shala-damariscotta", "name": "Midcoast Yoga Shala",
        "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/igWz34TMbenbhxSTfIO7LQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/midcoast-yoga-shala-damariscotta?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKscZth2VNGA",
        "review_count": 1, "categories":[...]
