---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=04572&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - fe1b9e8ba1434342653def30f5039e96
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4858'
      Ratelimit-Resettime:
      - '2025-11-26T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-674977b97c-tqhl8; site=public_api_v3
      X-Ctx-Guv:
      - p|awGBNkM_j8pKscZth2VNGA|ec4712a4-07b5-437c-b0de-2920c98484cb
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-147-83-uswest2bprod
      X-Extlb:
      - 10-69-147-83-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "WzSBzb-6e6FUCzWb0HTsMQ", "alias": "condition-orange-defense-academy-waldoboro",
        "name": "Condition Orange Defense Academy", "image_url": "https://s3-media0.fl.yelpcdn.com/bphoto/uA3lIOkfHFxWS6JPP5gyFw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/condition-orange-defense-academy-waldoboro?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKscZth2VNGA",
        "review_count": 0, "categories": [{"alias": "martialarts", "title": "Martial
        Arts"}], "rating": 0.0, "coordinates": {"latitude": 44.0956567, "longitude":
        -69.3763646}, "transactions": [], "location": {"address1": "251 Jefferson
        St", "address2": "", "address3": "", "city": "Waldoboro", "zip_code": "04572",
        "country": "US", "state": "ME", "display_address": ["251 Jefferson St", "Waldoboro,
        ME 04572"]}, "phone": "+12076191223", "display_phone": "(207) 619-1223", "distance":
        1601.030410342786}, {"id": "zTW22gLRv73nieIDfidWbQ", "alias": "panthers-gym-waldoboro",
        "name": "Panther''s Gym", "image_url": "https://s3-media0.fl.yelpcdn.com/bphoto/je7MW1rE_bXHcRD2QGLzzw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/panthers-gym-waldoboro?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKscZth2VNGA",
        "review_count": 0, "categories": [{"alias": "tanningbeds",[...]
