---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=04572&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-987598964-dll54; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000.0'
      Ratelimit-Remaining:
      - '4957.0'
      X-Zipkin-Id:
      - 1f683da90cefd982
      Ratelimit-Resettime:
      - '2023-04-24T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-93-105-useast1aprod
      X-Extlb:
      - 10-65-93-105-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "80XRogbI6fUCQc6r2fcOnw", "alias": "planet-fitness-rockland",
        "name": "Planet Fitness", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/s2lmRM0BY9E2omJtMryioQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/planet-fitness-rockland?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKscZth2VNGA",
        "review_count": 6, "categories": [{"alias": "gyms", "title": "Gyms"}, {"alias":
        "healthtrainers", "title": "Trainers"}], "rating": 4.0, "coordinates": {"latitude":
        44.117653, "longitude": -69.10884}, "transactions": [], "location": {"address1":
        "75 Maverick St", "address2": "", "address3": null, "city": "Rockland", "zip_code":
        "04841", "country": "US", "state": "ME", "display_address": ["75 Maverick
        St", "Rockland, ME 04841"]}, "phone": "+12074183111", "display_phone": "(207)
        418-3111", "distance": 20581.75182096001}, {"id": "wtzdNWtMkw2Eaz9Mx7iZ1w",
        "alias": "rockland-ymca-program-center-rockland", "name": "Rockland YMCA Program
        Center", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/MnMxJUivVtpdQ3gG-l_UCw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/rockland-ymca-program-center-rockland?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=awGBNkM_j8pKscZth2VNGA",
        "review_count"[...]
