---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=99723&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4891'
      X-Ctx-Guv:
      - p|awGBNkM_j8pKscZth2VNGA|741a8cdd-5cd7-4d9a-97cb-32bd4211e203
      X-Zipkin-Id:
      - 96120414cd3075f50b46f98790e1725d
      Ratelimit-Resettime:
      - '2025-11-26T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-674977b97c-f65kb; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-66-215-uswest2aprod
      X-Extlb:
      - 10-69-66-215-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -156.76116943359375,
        "latitude": 71.28570519281563}}}'
  recorded_at: Tue, 25 Nov 2025 09:34:46 GMT
recorded_with: VCR 6.3.1
