---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=99723&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      X-Ctx-Guv:
      - p|awGBNkM_j8pKscZth2VNGA|86067a0e-2c6f-457e-b20b-914a9bc45893
      X-Routing-Service:
      - routing-main--useast1-d6b549d6-wgb5r; site=public_api_v3
      Ratelimit-Resettime:
      - '2025-12-07T00:00:00+00:00'
      X-Zipkin-Id:
      - 567894c157c84883e235e8ed5ed7ef7d
      Ratelimit-Remaining:
      - '4943'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-183-31-useast1bprod
      X-Extlb:
      - 10-65-183-31-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -156.76116943359375,
        "latitude": 71.28570519281563}}}'
  recorded_at: Sat, 06 Dec 2025 00:01:04 GMT
recorded_with: VCR 6.3.1
