---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=89405&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000.0'
      Ratelimit-Remaining:
      - '4991.0'
      Ratelimit-Resettime:
      - '2023-04-24T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-987598964-mjg7s; site=public_api_v3
      X-Zipkin-Id:
      - 60a0f4cd234ef918
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-79-31-useast1aprod
      X-Extlb:
      - 10-65-79-31-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -119.432373046875,
        "latitude": 40.4462157989704}}}'
  recorded_at: Sun, 23 Apr 2023 01:25:19 GMT
recorded_with: VCR 6.0.0
