---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=89405&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-7b96896cd8-2nvqc; site=public_api_v3
      Ratelimit-Remaining:
      - '4953'
      X-Zipkin-Id:
      - 975396a127899c05
      Ratelimit-Resettime:
      - '2021-10-10T00:00:00+00:00'
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-105-191-uswest2aprod
      X-Extlb:
      - 10-69-105-191-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -119.432373046875,
        "latitude": 40.4462157989704}}}'
  recorded_at: Sat, 09 Oct 2021 20:36:06 GMT
recorded_with: VCR 6.0.0
