---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=50&location=99723&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4942'
      X-Zipkin-Id:
      - 2d785c48d795b7942c69632a3b812d88
      Ratelimit-Resettime:
      - '2025-12-07T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-6956899454-fznm6; site=public_api_v3
      X-Ctx-Guv:
      - p|awGBNkM_j8pKscZth2VNGA|641d48d1-d137-40ec-9549-b43eed185549
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-86-223-useast1aprod
      X-Extlb:
      - 10-65-86-223-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -156.76116943359375,
        "latitude": 71.28570519281563}}}'
  recorded_at: Sat, 06 Dec 2025 00:01:04 GMT
recorded_with: VCR 6.3.1
