---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=89405&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4988'
      X-Zipkin-Id:
      - 6ff7b84bce1afc0c
      Ratelimit-Resettime:
      - '2021-09-21T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-7b96896cd8-gxd8z; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-84-252-uswest2aprod
      X-Extlb:
      - 10-69-84-252-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -119.432373046875,
        "latitude": 40.4462157989704}}}'
  recorded_at: Mon, 20 Sep 2021 02:05:40 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=89405&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-7b96896cd8-n4rwm; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4987'
      X-Zipkin-Id:
      - 4901b1ce835d98ad
      Ratelimit-Resettime:
      - '2021-09-21T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-189-127-uswest2bprod
      X-Extlb:
      - 10-69-189-127-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [], "total": 0, "region": {"center": {"longitude": -119.432373046875,
        "latitude": 40.4462157989704}}}'
  recorded_at: Mon, 20 Sep 2021 02:05:40 GMT
recorded_with: VCR 6.0.0
