---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/gHmS3WIjRRhSWG4OdCQYLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DONT_SHARE_MY_SECRET_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-7b96896cd8-8vqj2; site=public_api_v3
      Ratelimit-Resettime:
      - '2021-10-10T00:00:00+00:00'
      X-Zipkin-Id:
      - 8cb22ba98a986d71
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4962'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-113-185-uswest2aprod
      X-Extlb:
      - 10-69-113-185-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "gHmS3WIjRRhSWG4OdCQYLA", "alias": "quest-fitness-kennebunk-2",
        "name": "Quest Fitness", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/FJhv4yFveUoNyK5aJaDcqA/o.jpg",
        "is_claimed": true, "is_closed": false, "url": "https://www.yelp.com/biz/quest-fitness-kennebunk-2?adjust_creative=awGBNkM_j8pKscZth2VNGA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=awGBNkM_j8pKscZth2VNGA",
        "phone": "+12074673800", "display_phone": "(207) 467-3800", "review_count":
        4, "categories": [{"alias": "healthtrainers", "title": "Trainers"}, {"alias":
        "taichi", "title": "Tai Chi"}, {"alias": "yoga", "title": "Yoga"}], "rating":
        5.0, "location": {"address1": "2 Livewell Dr", "address2": null, "address3":
        null, "city": "Kennebunk", "zip_code": "04043", "country": "US", "state":
        "ME", "display_address": ["2 Livewell Dr", "Kennebunk, ME 04043"], "cross_streets":
        ""}, "coordinates": {"latitude": 43.393861, "longitude": -70.527933}, "photos":
        ["https://s3-media4.fl.yelpcdn.com/bphoto/FJhv4yFveUoNyK5aJaDcqA/o.jpg", "https://s3-media1.fl.yelpcdn.com/bphoto/k-1eHyAz3uoOfM1lIcYx-A/o.jpg",
        "https://s3-media4.fl.yelpcdn.com/bphoto/mZBPXGxNmvq4z6ZkzA36ow/o.jpg"], "hours":
        [{"open": [{"is_overnight": false, "start": "0500", "end": "2030", "day":
        0}, {"is_overnight": false, "start": "0500", "end": "2030", "day": 1}, {"is_overnight":
        false, "start": "0500", "end": "2030", "day": 2}, {"is_overnight": false,
        "start": "0500", "end": "2030", "day": 3}, {"is_overnight": false, "start":
        "0500", "end": "1900", "day": 4}, {"is_overnight": false, "start": "0700",
        "end": "1800", "day": 5}, {"is_overnight": false, "start": "0700", "end":
        "1800", "day": 6}], "hours_type": "REGULAR", "is_open_now": true}], "transactions":
        []}'
  recorded_at: Sat, 09 Oct 2021 20:35:57 GMT
[...]
